%ul.nav.nav-tabs
  %li.nav-item
    = link_to "Home", root_path, class: "nav-link #{ active?(root_path) } "
  %li.nav-item.active
    = link_to "Time Entries", posts_path, class: "nav-link #{ active?(posts_path) } "
  %li.nav-item.dropdown.ml-md-auto
    %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"data-toggle" => "dropdown"} Account
    .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdownMenuLink"}
      %a
        = link_to "Edit", edit_user_registration_path, class: "dropdown-item"
      .dropdown-divider
      %a
        = link_to "Logout",  destroy_user_session_path, method: :delete, class: "dropdown-item"
